<%- include('./header.ejs') %>

  <div class="container">
    <div class="alert alert-primary text-center" role="alert">
      INGRESE UN PRODUCTO
    </div>
  </div>

  <form id= "formulario" class="container" action="/api/productos" method="POST" >
     <div class="mb-3">
       <label for="name" class="form-label">Name</label>
       <input type="text" class="form-control" id="name" name="title">
     </div>
     <div class="mb-3">
       <label for="price" class="form-label">Price</label>
       <input type="number" class="form-control" id="price" name="price">
     </div>
     <div class="mb-3">
       <label for="picture" class="form-label">URL</label>
       <input type="text" class="form-control" id="picture" name="thumbnail" aria-describedby="pictureHelp">
       
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>

   <br>
   <br id="tablaProd">
   
   <div class="container">
    <div class="alert alert-primary text-center" role="alert">
      PRODUCTS AVAILABLE
    </div>
  </div>
  
  <div id="tabla"></div> 
 
  <br>
  <br id="tablaChat">

  <div class="container">
    <div class="alert alert-primary text-center" role="alert">
      MESSAGES
    </div>

    <div id= "" class="row">
      <label for="userEmail" class="form-label">Username</label>
      <div class="col mb-3">      
        <input type="email" class="form-control" id="userEmail" aria-describedby="pictureHelp">
        <div id="pictureHelp" class="form-text">E-Mail</div>
      </div>

      <hr>
      <div id="chat"></div>
      <hr>

      <div class="col mb-3">      
        <input type="text" class="form-control" id="userMsj" aria-describedby="pHelp">
        <div id="pHelp" class="form-text">Your message</div>
      </div>
      <div class="col">
        <button id="sendBtn" type="" class="btn btn-primary" style="background-color: #0e1;">SEND</button> 
      </div>
    </>

    <hr>

    

  </div>

</body>
</html>